HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


.idea
*.iws
*.iml
*.ipr


/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
!**/src/main/**/build/
!**/src/test/**/build/


.vscode/


application-local.properties
application-prod.properties
application-*.properties
!application.properties
!application.yml


.env
.env.local
.env.*.local


*.log
logs/
tmp/
temp/


/uploads/*
!/uploads/.gitkeep


.DS_Store
Thumbs.db
desktop.ini


*.key
*.pem
*.crt
secrets/